<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joychowdhory.homework">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MorningAddActivity" />
        <activity android:name=".ListDataActivity" />
        <activity android:name=".EditDataActivity" />
        <activity android:name=".NoonAddActivity" />
        <activity android:name=".ListDataActivity1" />
        <activity android:name=".EditDataActivity1" />
        <activity android:name=".NightAddActivity" />
        <activity android:name=".ListDataActivity2" />
        <activity android:name=".EditDataActivity2" />
        <activity android:name=".MainActivity3" />
        <activity android:name=".MorningAlarmActivity" />
        <activity android:name=".NoonAlarmActivity" />
        <activity android:name=".NightAlarmActivity" />
        <activity android:name=".MainActivity2" />

        <receiver
            android:name=".MorningAlarm"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".NoonAlarm"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".NightAlarm"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity4" />
        <activity android:name=".SymptomDetails"></activity>
    </application>

</manifest>